// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.review-card {
  padding: 16px;
  border-radius: 2px;
  width: 240px;
  background-color: #f3f3f3;
}